body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-ubuntu: Ubuntu;

  /* font sizes */
  --font-size-xs: 0.75rem;
  --font-size-base: 1rem;
  --font-size-5xl: 1.5rem;
  --font-size-sm: 0.88rem;
  --font-size-smi: 0.81rem;
  --font-size-21xl: 2.5rem;
  --font-size-xl: 1.25rem;
  --font-size-45xl: 4rem;

  /* Colors */
  --color-white: #fff;
  --color-gray-100: #04060e;
  --color-gray-200: rgba(4, 6, 14, 0.3);
  --color-midnightblue-100: #00207f;
  --color-midnightblue-200: #080063;
  --color-black: #000;
  --color-deepskyblue: #00acec;

  /* Gaps */
  --gap-mid: 1.06rem;
  --gap-lg: 1.13rem;
  --gap-xs: 0.75rem;

  /* border radiuses */
  --br-9xs: 4px;
  --br-xs: 12px;
}
