.body{
  font-family: Ubuntu;
  margin: 0px;
  padding: 0px;
}

img{
  width: 10vw;
}

.background{
  position: absolute;
  z-index: -99999;
  width: 100%;
  top: 0;
  right: 0;
}

.backgroundPhone{
  display: none;
}

.dartStand{
  width: 30vw;
  position: absolute;
  bottom: 0;
  left: 0;
}

.dart{
  display: none;
}

h1,h2,h3,h4,p,b,button,form{
  font-family: Ubuntu;
}

.recipt{
  margin-top: 5vw;
  margin-left: 47.2vw;
}

.reciptsection1{

}

.reciptpaper1-icon{
  width: 42.25vw;
  position: absolute;
  display: inline-block;
  z-index: -10;
}

.reciptpaper2-icon{
  margin-top: 0vw;
   width: 35.85vw;
   position: absolute;
   margin-left: 6.4vw
}


.reciptText{
  margin-left: 7vw;
}

.title1{
  margin-top: 1vw;
  position:absolute;
  margin-left: 12.5vw;
  font-size: 2vw;
  height: 12vw;
  display: inline-block;
  letter-spacing: 0.01vw;
  text-transform: uppercase;
}

.footer{
  position: absolute;
  bottom: 0;
  left: 42vw;
  color: white; 
  font-size: 0.8vw;
}